streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
plotly==5.24.1
python-dotenv==1.0.1
pyyaml==6.0.2

yfinance==0.2.40
feedparser==6.0.11
requests==2.32.3
beautifulsoup4==4.12.3

torch==2.4.1
lightning==2.3.3
pytorch-forecasting==1.0.0
torchmetrics==1.4.0
scikit-learn==1.5.1setuptools==70.3.0
